# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de entorno
.env

# Directorio de base de datos local (opcional)
data/

# MacOS
.DS_Store

# Directorios del sistema
.idea/
.vscode/

# Archivos del servidor
config/db.js

# Archivos generados
/public/js/*.map
/public/css/*.map
