body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 10px 0;
  display: block;
  width: 100%;
  max-width: 400px;
}

button {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

#productos {
  margin-top: 20px;
}

.product-item {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.product-item button {
  background-color: #d9534f;
  margin-left: 10px;
}

.product-item button:hover {
  background-color: #c9302c;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 150px; /* Ajusta el tamaño del logo según tu preferencia */
  height: auto;
}
